body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top_nav_bar{
    padding: 0 30px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #c1c1c1;
    height: 50px;
    -webkit-transition: margin-left .2s ease;
    -moz-transition: margin-left .2s ease;
    -o-transition: margin-left .2s ease;
    transition: margin-left .2s ease;
    width: 100%;
}

.nav-pane{
  width: 260px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    -webkit-transition: width .1s linear;
    -moz-transition: width .1s linear;
    -o-transition: width .1s linear;
    transition: width .1s linear;
    background: #2A4564;
    background: -moz-linear-gradient(top,#2A4564 0,#141E30 100%);
    background: -webkit-linear-gradient(top,#2A4564 0,#141E30 100%);
    background: linear-gradient(to bottom,#2A4564 0,#141E30 100%);
    height: 588px;
}

.nav-pane nav {
    position: relative;
    padding: 20px 15px 20px 10px;
    color: #FFF;
    cursor: pointer;
    opacity: .7;
    height: 60px;
    -webkit-transition: background-color .2s cubic-bezier(.4,0,1,1),padding-top .3s linear;
    -moz-transition: background-color .2s cubic-bezier(.4,0,1,1),padding-top .3s linear;
    -o-transition: background-color .2s cubic-bezier(.4,0,1,1),padding-top .3s linear;
    transition: background-color .2s cubic-bezier(.4,0,1,1),padding-top .3s linear;
    white-space: nowrap;
 
}

.topbar-lhs, .topbar-rhs {
    height: 50px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #c1c1c1;
    width: 260px;
}

.nav-pane>a {
    text-decoration: none!important;
}

.nav-pane nav.left-nav-item {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.nav-pane nav .nav-title {
    font-size: 14px;
    color: inherit;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productdata-outer-div{
  height: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
}

.outer-div{
  margin-top: -4.7%;
}

.product-header{
  background-color: #fff;
  height: 50px;
  padding: 5px 20px;
  border-bottom: 1px solid #e3e3e3;
}

.product-header .title-container-rhs{
  float: right;
  margin-top: 3px;
}

.mouse-pointer-cursor{
  cursor: pointer;
}

.productAdd-buttons{
  margin-left: 60px;
  padding: auto;
}